<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.dao.NewsDao"> 

 	
 	<!-- 动态查询    -->
 	<select id="getList" resultType="com.xx.bean.News" parameterType="com.xx.bean.News">
 		select * from news 
 		<where>
 			<if test="nebt != null and nebt != ''">
 				and nebt = #{nebt}
 			</if>
 			<if test="nenr != null and nenr != ''">
 				and nenr = #{nenr}
 			</if>
 			<if test="nesj != null and nesj != ''">
 				and nesj = #{nesj}
 			</if>
 		</where>
 	</select>
  
</mapper>


